<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
        <h3>
            <a href = "{{ url_for('show_all') }}">Board Index</a><br><br><br>
        </h3>

      <table border="1">
         <thead>
            <tr>
               <th>My Subscribed Topics</th>
                <th>New Posts</th>
            </tr>
         </thead>

         <tbody>
            {% for sub1 in subTopics %}
               <tr>
               <td><a href = {{ url_for('showTopic', topic = sub1.topic) }}>{{  sub1.topic  }}</a></td>
               <td>{{  sub1.notification  }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      <table border="1">
         <thead>
            <tr>
               <th>My Subscribed Posts</th>
                <th>New Posts</th>
            </tr>
         </thead>

         <tbody>
            {% for sub2 in subPosts %}
               <tr>
               <td><a href = {{ url_for('replyto', post_id = sub2.postID) }}>{{  sub2.postTitle  }}</a></td>
               <td>{{  sub2.notification  }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

      {% if session.logged_in %}
        <a href = "{{ url_for('logout') }}">Logout     </a>
      {% endif %}
   </body>
</html>