{% extends "layout.html" %}
{% block content %}
      <h3>Posts (<a href = "{{ url_for('new') }}">Add Post
         </a>)</h3>

      <form action = "{{ request.path }}" method = "post">
         <label for = "title">Post Title</label><br>
         <input type = "text" name = "title" placeholder = "Post Title" /><br>
         <label for = "content">Content</label><br>
         <input type = "text" name = "content" placeholder = "Post Content" /><br>
         <label for = "topic">Topic</label><br>
         <input type = "text" name = "topic" placeholder = "General" /><br>
         <input type = "submit" value = "Submit" />
      </form>

	{%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            <span style="color: red;">{{ message }}</span>
         </div>
      {%- endfor %}
{% endblock %}
