
{% extends "layout.html" %}

{% block content %}

  <h2>Register</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
          {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
  <form action="{{ url_for('register') }}" method=post>
    <dl>
      <dt>New Username:
      <dd><input type=text name=username>
      <dt>New Password:
      <dd><input type=text name=password>
	<hr/>
      {%- for message in get_flashed_messages() %}
        <span style="color: red;">{{ message }}</span> 
      {%- endfor %}
      <dd><input type=submit value=Register>
    </dl>
  </form>
{% endblock %}
