<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>
        <h3>
            <a href = "{{ url_for('show_all') }}">Group Project</a><br><br><br>
        </h3>
      {% if not session.logged_in %}
          <h3>

             <a href = "{{ url_for('login') }}">Login     </a>
             <a href = "{{ url_for('register') }}">Register</a>
          </h3>
      {% endif %}
        {% if session.logged_in %}
        <a href = "{{ url_for('showSubs') }}">My Subscriptions     </a>
      {% endif %}
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}

      <h3>Posts (<a href = "{{ url_for('new') }}">Add Post
         </a>)</h3>

      <table border="1">
         <thead>
            <tr>
               <th>Title</th>
               <th>Author</th>
               <th>Content</th>
               <th>Topic</th>
            </tr>
         </thead>

         <tbody>
            {% for post in posts %}
               <tr>
                  <td>{{ post.title }}</td>
                  <td>{{ post.author }}</td>
                  <td>{{ post.content }}</td>
                    <td><a href = {{ url_for('showTopic', topic = post.topic) }}> {{ post.topic }} </a></td>
                  <td><a href = {{ url_for('replyto', post_id = post.postID) }}> Replies ({{ post.replies }}) </a></td>
                   <td><a href = {{ url_for('subscribetotopic', topic = post.topic) }}>Subscribe to Topic</a></td>
                   <td><a href = {{ url_for('subscribetopost', post_id = post.postID) }}>Subscribe to Post</a></td>
               </tr>
            {% endfor %}

         </tbody>
      </table>


      {% if session.logged_in %}
        <a href = "{{ url_for('logout') }}">Logout     </a>
      {% endif %}
   </body>
</html>